PORT=8088
CH_HOST=127.0.0.1
CH_TCP_PORT=9000
CH_WRITE_USER=hist_writer
CH_WRITE_PASSWORD=changeme
CH_READ_USER=hist_reader
CH_READ_PASSWORD=changeme_reader

TIINGO_TOKEN=your_token_here
TIINGO_MAX_THREADS=4

SCHEDULE_DAILY_BARS=0 0 6 * * ?
SCHEDULE_MINUTE_BARS=0 30 6 * * ?
SCHEDULE_DIVIDENDS=0 0 7 * * ?
SCHEDULE_SPLITS=0 15 7 * * ?
SCHEDULE_EARNINGS=0 30 7 * * ?
